html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  /* Larger width than "typical" max-width due to wide tables */
  max-width: 1200px;
  margin: 0 auto;
  /* font-size and line-height are based on simplecss.org style */
  font-size: 1.15rem;
  line-height: 1.618
}

code {
  font-family: monospace;
}

/* Customised classes that can be used in markdown */
.frames-better {
  color: blue;
}

.frames-worse {
  color: red;
}

.gray {
  color: #A7A7A7;
}

.red {
  color: #B22222;
}

.yellow {
  color: #D7D700;
}

.orange {
  color: #FF8C00;
}

.green {
  color: #32CD32;
}

.gold {
  color: #909737;
}

img.size-28 {
  width: 28px;
  height: 28px;
}
