/* Overrides for simple.css parameters */
body {
  /* Larger width than "typical" max-width due to wide tables */
  max-width: 1000px;
}

/* Customised classes that can be used in markdown */
/* Replace inline color styles with these */
.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

/* Used to colorise runes */
.rune-gray {
  color: #A7A7A7;
}

.rune-red {
  color: #B22222;
}

.rune-yellow {
  color: #D7D700;
}

.rune-orange {
  color: #FF8C00;
}

.rune-green {
  color: #32CD32;
}

.rune-gold {
  color: #909737;
}

/* Other inline style replacements */
img.size-28 {
  width: 28px;
  height: 28px;
}
